.messenger{
    height: calc(100vh - 100px);
    display: flex;
}

.Menu{
    flex: 3.5;
}

.MenuInput{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}
.conversationSpace{
    flex: 5.5;
}

.conversationHeader{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
.conversationSpaceWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.conversationFloor{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messageInput{
    width: 80%;
    height: 70px;
    padding: 10px;
}

.sendButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: teal;
    color: white;
}

.usersOnline{
    flex: 3;
}

.noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }

.MenuWrapper, .conversationSpaceWrapper, .usersOnlineWrapper{
    padding: 10px;
    height: 100%;
}