.message{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
}

.messageHeader{
    display:flex;
    
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: greenyellow;
    color: black;
    max-width: 300;
    
    
}

.messageFloor{
    font-size: 10px;
    margin-top:20px;
}

.messagemineMessage{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    height: 20px;
    align-items: flex-end;
}

.messagemineMessage .messageText{
    background-color: blue;
    
}