.offerCard{
    margin: 4px;
}

.cardImg{
    height: 200px;
}


.cardText{
    white-space: pre-line;
}


.commentPostedBy {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  
  .commentContainer {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .commentStars {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .commentStars i {
    margin: 0 0.25rem;
  }
  
  .numRatings {
    margin-left: 8px;
    font-size: 14px;
    color: #767676;
  }
  